.formContainer {
  font-size: 1.6rem;
}

.text {
  font-size: 1.6rem;
  padding: 10px;
}
label {
  padding: 3rem;
}
.button {
  background: #73767a;
  -webkit-border-radius: 14;
  border-radius: 14px;

  box-shadow: .4rem .4rem .4rem#807d80;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.5rem;
  padding: .5rem 1rem .5rem 1rem;
  text-decoration: none;
}

.button:hover {
  background: #8c596a;
  background-image: linear-gradient(to bottom, #8c596a, #c291a9);
  text-decoration: none;
  transform: translateY(-2px);
}

input {
  padding: 10px;
  font-size: 15px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #ffffff;
  color: #000000;
  border-style: double;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(66,66,66,.50);
  text-shadow: 0px 0px 0px rgba(66,66,66,.75);
}

.button:disabled,
.button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}